<!DOCTYPE html>
<html>
<head>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- maps -->
  <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script> -->

<!-- 
  <script type="text/javascript"src="http://www.google.com/jsapi?key=AIzaSyAQHP-kI4xDhCuFENrJ6sMot4b2rOdS8oY">
  <script type="text/javascript"charset="utf-8">google.load("maps","2.x"); google.load("jquery","1.3.1");</script> -->

<!-- maps -->
<style type="text/css">
  
table {
    border-collapse: collapse;
    width: 100%;
    height:100%;
    align:center;
}

th, td {
    text-align: center;
    /*padding: 3px;*/
    height:3px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CBF80;
    color: white;
    height:3px;
}



@-webkit-keyframes mymove {
    from {left: 200px;}
    to {left: 200px;}
}

@keyframes mymove {
    from {left: 200px;}
    to {left: 200px;}
}

</style>

  
  <script> 
  $('body').css('background-image', 'url("bg.jpg")');
  $( document ).ready(function() {
    $( "#button" ).click(function() {
      tableRows = "";
      docRowCount=0;
      ids=0;
      timeout();

    });

  
  function timeout(){
    setTimeout(function(){
       docRowCount++;
       ajax_call();
      

      },500);         
   }


  
 function ajax_call (){
  
  $.ajax({
  url: "/db",
  type: "get", //send it through get method
  
  data:({id:ids}),
  
  success: function(response) {
       datam = response;
    // console.log(datam.results[ids].code);
    console.log(ids);

     tableRows =  "<tr><td>"+datam.results[ids].code+"</td> <td>"+datam.results[ids].name+"</td> <td>"+datam.results[ids].population+"</td></tr>";
     if(ids>=20){
      last_row=$('#tbody1 tr:last');
      last_row.find('td').fadeOut('fast', 
        function(){ 
            last_row.remove();                    
        });

     }
     
    
    $( "#tbody1" ).prepend(tableRows);
                       
        ids++;
               
      timeout(); //calling timeout for 5 secs after displaying each record
      console.log(response);
  },
  error: function(xhr) {
    //Do Something to handle error
  }
});
  
 }

});

        
    </script>

  </head>
<body>


<h3 align="center" > Country Wise Population </h3>

     
      <button id="button"> Get Data </button>
      <table id="table1" width="100">
        <thead width="50" height="20">
            <tr>
              
              <th>Code</th>
              <th>Country</th>
              <th>Population</th>
              


            </tr>
        <thead>
        <tbody id="tbody1">
        
        </tbody>

      </table> 
  </body>
     
</html>
