<!DOCTYPE html>
<html>
<head>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- maps -->
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

<!-- 
  <script type="text/javascript"src="http://www.google.com/jsapi?key=AIzaSyAQHP-kI4xDhCuFENrJ6sMot4b2rOdS8oY">
  <script type="text/javascript"charset="utf-8">google.load("maps","2.x"); google.load("jquery","1.3.1");</script> -->

<!-- maps -->
<style type="text/css">
  
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

div {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 5s; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
    animation-delay: 5s;
}

@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

</style>

  
  <script> 
  $('body').css('background-image', 'url("bg.jpg")');
  $( document ).ready(function() {
    $( "#button" ).click(function() {
      tableRows = "";
      docRowCount=0;
      ids=0;
      kk();

    });

  
  function kk(){
    setTimeout(function(){
       
       nnn();

      },2000);         
   }


  
 function nnn (){

  $.ajax({
  url: "/db",
  type: "get", //send it through get method
  data:({id:ids}),
  
  success: function(response) {
    //Do Something
    console.log(response["results"]);
  
    datam = response;
     tableRows =  "<tr><td>"+datam.code+"</td> <td>"+datam.name+"</td> <td>"+datam.population+"</td><td></td></tr>";

     tableRows.hide();
    $('tr:last-child').after(tableRows);
  tableRows.fadeIn("slow");

        $( "#tbody1" ).append(tableRows);

       ids++;
      kk(); 
      console.log(response);
  },
  error: function(xhr) {
    //Do Something to handle error
  }
});
  
 }

});


      // $.get( "/country", function( data ) {
        

      //     setTimeout(function(){
      //       function getData();

      //     },500);    

// function getData(){
//         $.each(data , function(){
//             tableRows +=  "<tr><td>"+this.code+"</td> <td>"+this.name+"</td> <td>"+this.population+"</td><td>"+this.latitude+"</td><td>"+this.longitude+"</td></tr>";
//             docRowCount=docRowCount+1 ;


//           });
// }
          
//             $( "#tbody1" ).append(tableRows);


//       } );

//     });
//   });   //get closed here

        
    </script>

  </head>
<body>


<h1 align="center"> Country Wise Population </h1>

     
      <button id="button"> Get Data </button>
      <table id="table1">
        <thead>
            <tr>
              <th>Code</th>
              <th>Country</th>
              <th>Population</th>
              


            </tr>
        <thead>
        <tbody id="tbody1">
        
        </tbody>

      </table> 
  </body>
     
</html>
