<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script> 
  $( document ).ready(function() {
    $( "#button1" ).click(function() {
  
  $.get( "/country", function( data ) {
  
  text="";
  for (i = 0; i < data.length; i++) { 
    text += data[i]["code"] + data[i]["name"] + data[i]["population"]+ "<br>";

    $( "#tb1" ).html( text );
  console.log(text);
}
});
    
});
});

  </script>
</head>
<body>
<button id="button1"> Get Data </button>

    <div id="tb1" align="center">
      
    </div>
 


</body>
</html>
